*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: rgb(90, 177, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

nav{
    position: absolute;
    top: 10%;
    left: 10%;
    padding-inline-start: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    /* background-color: red; */
}
nav img{
    height: 5rem;
    width: 5rem;
}

nav h5{
    color: #fff;
    font-size: 3vw;
    font-weight: 700;
    margin-left: 1vh;
    font-family: system-ui, 'Segoe UI';
}
.part1{
    height: 85%;
    width: 30%;
    background-color: rgb(77, 147, 147);
}
.part2 {
    height: 85%;
    width: 60%;
    background-color: blue;
    background-image: url('./images/photo-1588117260148-b47818741c74.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.part3 {
    height: 85%;
    width: 10%;
    background-color: rgb(77, 147, 147);
}
.info{
    padding-left: 5%;
    width: 30%;
    position: absolute;
    left: 10%;
    top: 60%;
    transform: translate(0%, -50%);
    z-index: 99;
}
.info h1{
    font-size: 4em;
    letter-spacing: 15px;
    font-family: system-ui,'Segoe UI';
    color: #fff;
    font-weight: 900;
}


.img2{
    height: 25%;
    width: 250px;
    max-width: 25%;
    background-image: url('./images/photo-1616837874254-8d5aaa63e273.avif');
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 10%;
    border-radius: 1px;
}
.tape {
    position: absolute;
    right:-5%;
    color: transparent;
    /* background-color: #fff; */
    transform: rotate(90deg);
    -webkit-text-stroke-color: rgba(32, 117, 214, 0.673);
    -webkit-text-stroke-width: 4px;
    width: auto;
    display: inline-block;
}
.tape h1{
    text-align: center;
    font-size: 60px;
    letter-spacing: 10px;
    font-family: system-ui, 'Segoe UI';
    font-weight: 800;
}